@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

/* Don't allow text to get too wide */
.container {
    width: auto;
    max-width: 850px;
    padding: 0 15px;
}
nav.navbar {
    position: absolute;
    width: auto;
    top: 0%;
}
/* Keep the footer at the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

#body {
    padding-top: 60px;
    padding-bottom: 60px;       /* Same as footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding-bottom: 5px;
}

/* Overall font settings */
#body, #footer, .container {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', arial, sans-serif;
}

h1 {
    color: #21409a;
    background-color: #ffde17;
}

a {
  color: #be1e2d;
  text-decoration: none;
}

blockquote{
  font-size: 1.2em;
  width:60%;
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #be1e2d ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
