<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.data.instructor.name }}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.course.description }}{% endif %}">

  <title>{{site.data.course.number}} &mdash; {{page.title}}</title>

  <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/site-custom.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

<!--<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-...']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>-->

</head>
<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
    <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><font
                                color='#be1e2d'>{{site.data.course.number}}</font></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if page.category == "home" %} active{% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if page.category == "overview" %} active{% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/overview.html">Overview</a>
            </li>
            <li class="nav-item dropdown{% if page.category == "note" %} active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% if site.notes[0] %}
                    {% for note in site.notes %}
                    <li><a class="dropdown-item" href="{{site.baseurl}}{{note.url}}">{{note.title}}</a></li>
                    {% endfor %}
                    {% else %}
                    <li class="dropdown-header">No notes posted</li>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown{% if page.category == "workshop" %} active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Workshops
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% if site.workshops[0] %}
                    {% for note in site.workshops %}
                    <li><a class="dropdown-item" href="{{site.baseurl}}{{workshop.url}}">{{workshop.title}}</a></li>
                    {% endfor %}
                    {% else %}
                    <li class="dropdown-header">No workshops posted</li>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown{% if page.category == "resource" %} active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{site.baseurl}}/software,html">Software</a></li>
                    <li><a class="dropdown-item" href="{{site.baseurl}}/further_resources,html">Further resources</a></li>                    
                </div>
            </li>
        </ul>
    </div>
</nav>

  <div class="container" id="body">
    {{content}}
  </div>

  <div id="footer">
    <div class="container text-muted small">
      {% include credits_licence.html %}
    </div>
  </div>

<!--jQuery & Twitter Bootstrap JavaScript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

</body>
</html>